*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.vault{
    font-family:"Inter", sans-serif;
}
.font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.menu{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    margin: 0 auto;
    font-size: 16px;

   
}
.btn-color{
    background-color: #30BB68;
    border: none;
    padding: 30px 20px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    font-weight: 600;
}
.flex{
    display: flex;
    gap: 32px;
    font-weight: 500;
    align-items: center;
    list-style-type: none;
}
.menu li a{
    color: #474747;
    font-size: 16px;
    text-decoration: none;
}

.banner{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}
.banner-container{
    padding: 115px 20px 180px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}
.card1{
    background-color: #FFFFFF;
    border-radius: 1000px;
    font-weight: 500;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    gap: 6px;
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    color: #30BB68;

}
.card-title{
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
.text-color{
    color: #30BB68;
}
.text-description{
    color:#FFFFFF;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.card-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.simple-btn{
    border: none;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    padding: 12px 16px;
    align-items: center;
    background-color: #30BB68;
    font-size: medium;
    line-height: auto;
    color: #FFFFFF;
    
}
.simple-btn2{
    border: 1px solid white;
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: transparent;
    align-items: center;
    display: flex;
}
.resume{
    margin-bottom: 120px;
}
.section-heading{
    text-align: center;
    margin-bottom: 44px;
}
.title-heading{
    font-weight: bold;
    line-height: auto;
    margin-bottom: 16px;
    padding-top: 60px;
    color: #001931;
    font-size: 48px;
}
.resume-description{
    font-size: 16px;
    color: #627382;
}
.container-card{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.card{
    max-width: 300px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.26);
    padding: 24px;
    text-align: center;
}
.card-photo{
    background-color: #F95555;
    border-radius: 50%;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;

}
.text-h3{
    font-weight: 600;
    color: #001931;
    font-size: 24px;
    margin-bottom: 10px;
}
.description-p{
    color: #627382;
}
.brain-container{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}
.brain-list li{
    list-style: none;
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 16px;

}
.brain-heading{
    color: #30BB68;
    font-weight: 500;
    margin-bottom: 16px;
}
.title-color{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.description-color{
    color: #627382;
    margin-bottom: 20px;
}
.container-access{
    text-align: center;
    gap: 212px;
    margin-bottom: 120px;
    background-color: #F7F6F2;
    padding: 80px;
}
.color-title{
    font-weight: bold;
    font-size: 40px;

}
.color-description{
    font-size: 16px;
    color: #627382;
    gap: 20px;
}
.access-btn{
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid white;
    padding: 12px 16px;
    align-items: center;
    border-radius: 4px;
    background-color: #30BB68;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
footer{ 
    background-color: #001931;
}
.footer-title{
    display: flex;
    padding-top: 120px;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 80px;
}
.title-footer{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.container-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons{
    background-color: #FFFFFF;
    border-radius: 100%;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}
hr{
    max-width: 80%;
    border: 1px solid #627382;
    margin: auto;
}
.copyright{
    color: #FAFAFA;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}